html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

#root {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: #fbfbfb;
}

ul {
  list-style: none;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #2196F3 inset !important;
    -webkit-text-fill-color: white !important;
}

div {
  box-sizing: border-box !important;
}