.home-posts__container {
    margin: auto;
    width: 56vw;
}

.home-posts__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    flex-basis: 25%;
    padding: 0;
}

.home-posts__list .home-posts__post {
    list-style: none;
    flex-basis: 32%;
}

.home-posts__new-post {
    height: 168px;
    width: 100vw;
    background: rgb(33, 150, 243);
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
}

.post--space-around {
    margin: 24px 0 0 24px;
}

@media only screen and (max-width: 500px) {
    .home-posts__container {
        width: 95vw;
    }

    .home-posts__list {
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
    }

    .post--space-around {
        margin: 16px;
    }
}   