.home-posts__container {
    margin: auto;
    width: 40vw;
}

.home-posts__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    flex-basis: 25%;
    padding: 0;
}

.home-posts__list .home-posts__post {
    list-style: none;
    flex-basis: 31%;
}

.home-posts__new-post {
    height: 168px;
    width: 100%;
    background: rgb(33, 150, 243);
    margin-bottom: 102px;
    display: flex;
    justify-content: center;
}

.post--space-around {
    margin: 0 16px 16px 0;
}

.home-posts__post-date {
    font-weight: 300;
    color: rgba(0,0,0,.54);
}

.fadeIn-enter {
    opacity: 0;
    transform: translateY(32px);
}

.fadeIn-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: .2s ease-in all;
}

.fadeInPost-enter {
    opacity: 0;
    transform: translateY(-16px);
}

.fadeInPost-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: .2s ease-in all;
}

@media only screen and (max-width: 500px) {
    .home-posts__container {
        width: 95vw;
    }

    .home-posts__list {
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
    }

    .post--space-around {
        margin: 16px;
    }
}   

@media only screen and (min-width: 501px) and (max-width: 1024px) {
    .home-posts__container {
        width: 75vw;
    }

    .home-posts__list {
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
    }

    .post--space-around {
        margin: 16px;
    }
} 

@media only screen and (min-width: 1025px) and (max-width: 1366px){
    .home-posts__container {
        width: 70vw;
    }
} 

@media only screen and (min-width: 1367px) {
    .home-posts__container {
       width: 55vw;
    }
} 


@media only screen and (min-width: 1850px) {
    .home-posts__container {
       width: 45vw;
    }
} 