.login-page__layout {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1da1f2+0,207cca+100,3b5998+100 */
    background: #2196f3; /* Old browsers */
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.login-page__container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

.login-page__logo {
    align-self: center;
    pointer-events: none;
    display: inline;
}

.login-page__logo img {
    margin-right: 8px;
    height: 100px;
    opacity: .6;
}

.login-page__form form {
    margin-top: 24px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.login-page__form input {
    color: white !important;
}

.login-page__login-button {
    align-self: center;
    margin-top: 16px;
}
