.new-post__form-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width:100%;
}

.new-post__actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-self: center;
}

.new-post__input, 
.new-post__actions {
       padding: 0 16px 8px 0;
       width: 87%;
}

.new-post__card {
    width: 40vw;
    position: absolute;
    top: 128px;
}

#upload-image {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    display: none;
}

.new-post__upload-chip {
    transition: .24s ease all;
}

.new-post__successful-upload {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: rgba(255,255,255, .94);
}

.new-post__successful-upload > * {
    margin-left: 8px;
    align-self: center;
}

@media only screen and (max-width: 500px) {
    .new-post__card {
        width: 90vw;
    }
}  

@media only screen and (min-width: 501px) and (max-width: 1024px){
    .new-post__card {
        width: 75vw;
    }
} 

@media only screen and (min-width: 1025px) and (max-width: 1366px){
    .new-post__card {
        width: 71vw;
    }
} 

@media only screen and (min-width: 1367px) {
     .new-post__card {
        width: 55vw;
    }
} 

@media only screen and (min-width: 1850px) {
    .new-post__card {
       width: 47vw;
    }
} 