.new-post__form-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width:100%;
}

.new-post__actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-self: center;
}

.new-post__input, 
.new-post__actions {
       padding: 0 16px 16px 0;
       width: 87%;
}

.new-post__card {
    width: 54vw;
}

#upload-image {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    opacity: 0;
  }

@media only screen and (max-width: 500px) {
    .new-post__card {
        width: 90vw;
    }
}  