#user-profile {
    position: fixed;
    z-index: 0;
    top: 0;
    left:-30px;
    bottom: 0;
    right: 0;
    filter: blur(20px) brightness(70%);
}

#user-profile img {
 object-fit: contain;
 width: 110%;
}

.user-profile__container {
    width: 56vw;
    margin: auto;
    padding-top: 128px;
}

.user-profile__card {
    position: relative;
}

.user-profile__actions {
    background: #2196f3;
    height: 64px;
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.user-profile__header {
    padding: 24px 32px 12px 32px !important;
}

.user-profile__image {
    max-width: 320px;
    opacity: .95;
}

.user-profile__image img {
    object-fit: contain;
    width: 100%;
}

.user-profile__body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 12px 32px 24px 32px !important;
}

.user-profile__content {
}

.btn-twitter {
    color: #fff;
    background-color: #55acee;
    border-color: rgba(0,0,0,0.2);
}

.btn-block + .btn-block {
    margin-top: 5px;
}
.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}
.btn-social {
    position: relative;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-social>:first-child {
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
}